# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#vc
*.opensdf
*.sdf
*.suo
*.vcxproj.user

#proj
proj/win32/Debug/
proj/win32/Release/
proj/win32/helloworld/
proj/win32/ipch/
proj/win32/test/
